
/* Universal Styling */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

h1 {
    font-family:neuzeit-grotesk, sans-serif;
    font-weight: 600;   
    font-style: normal;
    font-size: 80px;
    margin: 0;
}

h2 {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 600;   
    font-style: normal;
    font-size: 40px;
    margin: 0;
}

h3 {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 600;   
    font-style: normal;
    font-size: 30px;
    margin: 0;
}

p, li {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    margin: 0px;
    max-width: 100%;
    max-height: 100%;
}

/* Buttons */

.button {
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
    height: fit-content;
    width: fit-content;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 525;
    font-style: normal;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
}

.button a {
    text-decoration: none;
}

/* Navigation Menu - Header */

div.nav {
    display: flex;
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    height: 120px;
    z-index: 100;
    justify-content: space-between;
    padding: 15px 50px 15px 80px;
}

div.logo {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: auto;
    height: 100%;
}

div.logo img {
    height: 30px;
}
div.menu-items {
    display: flex;
    align-items: center;
    color: #383535;
    flex-shrink: 2;
}

div.menu-items a:hover {
    color: #eea963;
}

div.menu-items a {
    transition: color 1s ease-in-out;
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #383535;
    margin: 24px;
    text-align: center;
    flex-shrink: 2;
}

/* Homepage - Mission Section */

#mission {
    background-image: url('../images/love-fridge-gradient-2.jpg');
    top: 120px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    color: #383535;
    padding: 85px;
    text-align: left;
}

#mission h1 {
    margin-bottom: 30px;
}

#mission p {
    margin: 0;
    max-width: 600px;
}

/* Homepage - Mutual Aid Section */

.mutual-aid {
    display: flex;
    height: 500px;
    flex-direction: row;
    top: 120px;
    position: relative;
}

.mutual-aid .button {
    background-color: #6B9DE2;

}

.mutual-aid .button a {
    color: #FFFFFF;
}

.definition {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #FFFFFF;
    justify-content: center;
    padding: 80px;
    color: #383535;
}

.definition h3 {
    margin-bottom: 24px;
}

.mutual-aid-right {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    color: #383535;
    position: relative;
}

.mutual-aid-right img {
    width: 90%;
    max-height: 450px;
    object-fit: scale-down;
}

/* Homepage - Get Involved Section */

#involved { 
    background-color: #70A0E2;
    top: 120px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
}

.involved-left {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.involved-right {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.involved-right .button {
    background-color: #F0D634;
}

.involved-right .button a {
    color: #383535;
}

.involved-left img {
    max-height: 400px;
}


#involved h1 {
    margin-bottom: 30px;
    max-width: 100%;
}

#involved p {
    max-width: 420px;
}

.map-container {
    display: flex;
    height: auto;
    width: 100%;
    position: relative;
    top: 120px;
    background-color: #70A0E2;
}

.map-left {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 40px 40px 40px 80px;
    color: #FFFFFF;
    justify-content: center;
}

.map-left h1 {
    margin-bottom: 30px;
}

.map-right {
    width: 55%;
    padding: 40px
}

/* FAQ Page - Module 1 */

.module-one {
    background-image: url(../images/love-fridge-gradient-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 120px;
    height: auto;
    text-align: left;
    display: flex;
    color: #FFFFFF;
}

.module-one a {
    color: #FFFFFF;
}

.module-one p {
    font-weight: 600;
}

.module-one-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    padding: 80px 40px 80px 80px;
}

.module-one-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 40px 80px 80px;
}

.module-one-right img {
    object-fit: scale-down;
    max-width: 100%;
}

.module-two {
    background-color: #FFFFFF;
    position: relative;
    top: 120px;
    height: auto;
    text-align: left;
    display: flex;
    color: #383535;
}

.module-two h3 {
    margin-bottom: 20px;
    width: 80%;
}
.module-two-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 80px 40px 80px 80px;
}

.module-two-left img {
    width: 20%;
    margin-bottom: 15px;
}

.module-two-left p {
    width: 90%;
}

.module-three {

    position: relative;
    top: 120px;
    display: flex;
    height: auto;
}

.module-three-left {
    width: 50%;
    background-image: url(../images/love-shack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.module-three-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #ED9044;
    padding: 80px;
    color: #FFFFFF;
    justify-content: center;
}

.module-three h3 {
    margin-bottom: 20px;
    width: 90%;
}

.module-three .button {
    background-color: #6B9DE2;

}

.module-three .button a {
    color: #FFFFFF;
}

.module-four {
    position: relative;
    top: 120px;
    display: flex;
    height: auto;
    background-color: #FFFFFF;
    color: #383535;
}

.module-four h3 {
    margin-bottom: 20px;
    width: 70%;
}

.module-four p {
    width: 90%;
}


.module-four-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 40px 80px 80px;
}

.module-four-right {
    width: 50%;
    display: flex;
    padding: 80px 80px 80px 40px;
}

.module-four-right img {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.module-five {
    position: relative;
    top: 120px;
    display: flex;
    height: auto;
    color: #383535;
}

.module-five h3 {
    margin-bottom: 20px;
    width: 70%;
}

.module-five-left {
    width: 50%;
    background-image: url(../images/large-fridge-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.module-five-right {
    width: 50%;
    background-color: #F0D634;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.module-five .button {
    background-color: #FFFFFF;
    margin-top: 40px;
}

.module-five .button a {
    color: #383535;
}

.module-six {
    position: relative;
    top: 120px;
    display: flex;
    height: auto;
    color: #383535;
}

.module-six-left {
    width: 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #383535;
}

.module-six-right {
    width: 50%;
    display: flex;
    background-image: url(../images/love-fridge-gradient-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.module-six h3 {
    margin-bottom: 20px;
    width: 90%;
}

.module-seven {
    position: relative;
    top: 120px;
    display: flex;
    height: auto;
    color: #383535;
}

.module-seven h3 {
    margin-bottom: 20px;
    width: 90%;
}
.module-seven-left {
    display: flex;
    width: 50%;
    background-image: url(../images/group-shot.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.module-seven-right {
    display: flex;
    width: 50%;
    padding: 80px;
    flex-direction: column;
    align-content: center;
    background-color: #FFFFFF;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    position: relative;
    top: 120px;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    padding: 15px 50px 15px 80px;
    color: #383535;
    align-items: center;
}

.footer p {
    font-weight: 600;
}

.footer img {
    max-width: 150px;
    object-fit: scale-down;
    margin-right: 24px;
}
.footer a {
    color: #383535;
    text-decoration: none;
    margin: 24px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

/* Media Queries */

@media only screen and (max-width: 750px) {
    div.nav {
        flex-direction: column;
        padding: 15px;
        justify-content: center;
        align-items: center;
        height: 120px;
    }
 
    div.logo {
        margin: 0px;
    }
     div.menu-items a {
         margin: 10px;
     }
 
     .fa-2x {
         font-size: 1em;
     }
 
     div.logo img {
         height: 30px;
     }
}

@media only screen and (max-width: 500px) {
    img.handle {
        display: none;
    }
}

@media only screen and (max-width: 640px) {
   
    #mission {
        padding: 40px;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #mission h1 {
        padding: 0px;
    }

    h1 {
    font-size: 40px;
    }

    h2 {
    font-size: 30px;
    }

    h3 {
    font-size: 20px;
    }

    .footer {
        padding: 15px;
    }
    
    .footer a {
        margin: 10px;
    }
}

@media only screen and (max-width: 840px) {
    .definition {
        width: 100%;
        padding: 30px 30px 10px 30px;
    }

    .mutual-aid {
        flex-direction: column;
        height: auto;
    }

    .mutual-aid-right {
        width: 100%;
        padding: 30px;
    }

    .mutual-aid-right img {
        width: 100%;
    }

    #involved {
        padding: 40px;
        justify-content: center;
        flex-direction: column;
        height: auto;
        padding: 30px;
    }

    .involved-left {
        width: 100%;
        justify-content: flex-start;
    }

    .involved-left img {
        max-height: 200px;
        padding-bottom: 30px;
        object-fit: scale-down;
    }

    .involved-right {
        width: 100%;
    }

    .module-one {
        flex-direction: column;
    }

    .module-one-left {
        width: 100%;
        padding: 40px 40px 0px 40px;
    }

    .module-one-right {
        width: 100%;
        padding: 40px;
    }

    .module-one img {
        max-height: 200px;
    }

    .module-two-left {
        width: 100%;
        padding: 40px;
    }

    .module-two-right {
        display: none;
    }

    .module-three {
        flex-direction: column;
    }

    .module-three-left {
        width: 100%;
        height: 500px;
    }

    .module-three-right {
        width: 100%;
        display: flex;
        padding: 40px
    }

    .module-four {
        flex-direction: column;
    }

    .module-four p {
        width: 100%;
    }

    .module-four-left {
        width: 100%;
        padding: 40px 40px 0px 40px;
    }

    .module-four-right {
        width: 100%;
        padding: 20px
    }

    .module-five {
        flex-direction: column;
    }
    .module-five-left {
        height: 500px;
        width: 100%;
    }

    .module-five-right {
        width: 100%;
        padding: 40px
    }

    .module-six-left {
        width: 100%;
        padding: 40px
    }

    .module-six-right {
        display: none;
    }

    .module-seven {
        flex-direction: column;
    }

    .module-seven-left {
        height: 400px;
        width: 100%;
    }

    .module-seven-right {
        width: 100%;
        padding: 40px;
    }

    .map-container {
        flex-direction: column;
    }

    .map-left {
        width: 100%;
        padding: 40px;
    }

    .map-right {
        width: 100%;
        height: 600px;
        padding: 0px 20px 20px 20px;
    }

    .map-right iframe {
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}



@media only screen and (max-width: 415px) {
    .footer p {
        font-size: 12px;
    }

    .footer img {
        max-width: 100px;
    }

    img.handle {
        display: none;
    }
}
